<div class="form-container">
  <div class="form-content">
    <div class="forms">
      <div class="titulo">
        <h1>Cadastro de Sócio</h1>
      </div>

      <div class="nome">
        <mat-form-field class="example-full-width" id="nome">
          <mat-label>Nome</mat-label>
          <input
            matInput
            placeholder="Nome"
            [(ngModel)]="nome"
          />
        </mat-form-field>
      </div>

      <div class="endereco">
        <div class="rua">
          <mat-form-field class="example-full-width" id="nome">
            <mat-label>Rua</mat-label>
            <input
              matInput
              placeholder="Rua"
              [(ngModel)]="rua"
            />
          </mat-form-field>
        </div>

        <div class="numero">
          <mat-form-field class="example-full-width" id="nome">
            <mat-label>Número</mat-label>
            <input
              matInput
              placeholder="Número"
              [(ngModel)]="numero"
            />
          </mat-form-field>
        </div>
      </div>

    </div>
  </div>
</div>
