<div class="form-container">
  <div class="form-content">
    <h1>Devolução de Itens</h1>


    <div class="item">
      <mat-form-field class="example-full-width" id="item">
        <mat-label>Selecione o item a ser devolvido</mat-label>
        <mat-select [(ngModel)]="itemObj">
          <mat-option *ngFor="let item of items" [value]="item.id">
            {{ item.tituloDomain!.nome }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <!-- Seleção da Locação -->
    <div class="locacao">
      <mat-form-field class="example-full-width" id="locacao">
        <mat-label>Selecione a locação</mat-label>
        <mat-select [(ngModel)]="locacaoObj" (ngModelChange)="atualizarValorAPagar()">
          <mat-option *ngFor="let locacao of locacaos" [value]="locacao.id">
            (Devolução prevista: {{ locacao.devolucaoPrevista | date: 'dd/MM/yyyy' }})
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <div class="valor">
      <mat-form-field class="example-full-width" id="valor-a-pagar">
        <mat-label>Valor a ser pago</mat-label>
        <input matInput [value]="valorAPagar | currency: 'BRL'" readonly />
      </mat-form-field>
    </div>


    <div class="valor">
      <button
        mat-raised-button
        color="primary"
        (click)="efetuarDevolucao()"
        [disabled]="!locacaoObj || !itemObj"
        class="btn-devolucao">
        Efetuar Devolução
      </button>
    </div>


  </div>
</div>
