.form-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  text-align: center;
}

.form-content {
  width: 100%;
  max-width: 500px;
  padding: 20px;
}

.example-full-width {
  width: 100%;
}

button {
  width: 100%;
}
