.form-container {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  text-align: center;
}

.form-content {
  width: 100%;
  max-width: 500px;
  padding: 20px;
}

.example-full-width {
  width: 100%;
}

.format{
  display: flex;
  justify-content: center;
}

th,td {
  font-weight: bold;
  text-align: center;
}

button {
  width: 100%;
}

h1{
  font-weight: bold;
}

.envio {
  margin-top: 20px;
}
