<div class="form-container">
  <div class="form-content">
    <h1>Cadastro de Diretor</h1>

    <mat-form-field class="example-full-width">
      <mat-label>Digite o Nome do Diretor</mat-label>
      <!-- Use ngModel para vincular o input ao componente -->
      <input matInput id="nome" placeholder="Nome do Diretor" [(ngModel)]="nomeDiretor" />
    </mat-form-field>

    <div class="format">
      <div>
        <!-- Passa o nome do Diretor para a função salvarDiretor -->
        <button mat-raised-button color="primary" (click)="salvarDiretor()">Salvar Diretor</button>
      </div>
    </div>

    <h1 class="envio">Lista de Diretores</h1>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let element">
          <!-- Se o id for o que está sendo editado, exibe um input. Caso contrário, exibe o nome. -->
          <ng-container *ngIf="editandoId !== element.id; else editando">
            {{ element.nome }}
          </ng-container>
          <ng-template #editando>
            <input matInput [(ngModel)]="element.nome" />
          </ng-template>
        </td>
      </ng-container>

      <!-- Ações Column -->
      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let element">
          <div
            style="
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 8px;
            "
          >
            <!-- Mostrar o botão de editar/excluir apenas se não estiver editando -->
            <ng-container *ngIf="editandoId !== element.id">
              <button
                mat-flat-button
                color="warn"
                (click)="deletarDiretor(element.id, element.nome)"
              >
                <mat-icon>delete</mat-icon>
              </button>
              <button
                mat-flat-button
                color="accent"
                (click)="editarDiretor(element)"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </ng-container>
            <!-- Mostrar botões de salvar e cancelar ao editar -->
            <ng-container *ngIf="editandoId === element.id">
              <button
                mat-flat-button
                color="primary"
                (click)="salvarEdicao(element.nome)"
              >
                <mat-icon>save</mat-icon>
              </button>
              <button mat-flat-button class="btn-cancel" (click)="cancelarEdicao()">
                <mat-icon>cancel</mat-icon>
              </button>
            </ng-container>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
