<div class="form-container">
  <div class="form-content">
    <h1>Cadastro de Diretor</h1>

    <mat-form-field class="example-full-width">
      <mat-label>Digite o Nome do Diretor</mat-label>
      <!-- Use ngModel para vincular o input ao componente -->
      <input
        matInput
        id="nome"
        placeholder="Nome do Diretor"
        [(ngModel)]="nomeDiretor"
      />
    </mat-form-field>

    <div class="format">
      <div>
        <button
          mat-raised-button
          color="primary"
          (click)="editando ? salvarEdicao() : salvarDiretor()"
        >
          {{ editando ? "Salvar Edição" : "Enviar" }}
        </button>
      </div>
    </div>

    <h1 class="envio">Lista de Diretores</h1>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let element">{{ element.nome }}</td>
      </ng-container>

      <!-- Coluna Ações -->
      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let element">
          <div
            *ngIf="editandoId !== element.id; else emEdicao"
            style="
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 8px;
            "
          >
            <!-- Botões de Excluir e Editar -->
            <button
              mat-flat-button
              color="warn"
              (click)="deletarDiretor(element.id, element.nome)"
            >
              <mat-icon>delete</mat-icon>
            </button>
            <button
              mat-flat-button
              color="accent"
              (click)="editarDiretor(element)"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </div>

          <ng-template #emEdicao>
            <!-- Apenas o botão de Cancelar ao editar -->
            <div
              style="
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 8px;
              "
            >
              <button mat-flat-button color="warn" (click)="cancelarEdicao()">
                <mat-icon>close</mat-icon> Cancelar
              </button>
            </div>
          </ng-template>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
