<div class="form-container">
  <div class="form-content">
    <h1>Cadastro de Item</h1>
    <div class="forms">
      <div class="nome">
        <mat-form-field class="example-full-width" id="nome">
          <mat-label>Digite o Número de Série</mat-label>
          <input
            matInput
            placeholder="Numero de serie"
            [(ngModel)]="numSerie"
          />
        </mat-form-field>
      </div>

      <div class="valor">
        <mat-form-field class="example-full-width" id="titulo">
          <mat-label>Selecione o Titulo</mat-label>
          <mat-select [(ngModel)]="selectedTituloId">
            <mat-option *ngFor="let titulo of titulos" [value]="titulo.id">
              {{ titulo.nome }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-form-field class="example-full-width" id="tipo">
        <mat-label>Selecione o Tipo</mat-label>
        <mat-select [(ngModel)]="selected">
          <mat-option value="fita">Fita</mat-option>
          <mat-option value="dvd">DVD</mat-option>
          <mat-option value="bluray">Blu-ray</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-form-field class="example-full-width" id="devolucao">
      <mat-label>Data de Aquisição</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [(ngModel)]="dataAquisicao"
        placeholder="dd/MM/yyyy"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div class="format">
      <div>
        <button mat-raised-button color="primary"(click)="editando ? salvarEdicao() : salvarItem()">
          {{ editando ? "Salvar Edição" : "Enviar" }}
        </button>
      </div>
    </div>

    <h1 class="envio">Lista de Items</h1>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Coluna ID -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Coluna Número de Série -->
      <ng-container matColumnDef="numSerie">
        <th mat-header-cell *matHeaderCellDef>Número de Série</th>
        <td mat-cell *matCellDef="let element">{{ element.numSerie }}</td>
      </ng-container>

      <!-- Coluna Título -->
      <ng-container matColumnDef="titulo">
        <th mat-header-cell *matHeaderCellDef>Título (Nome)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.tituloDomain.nome }}
        </td>
      </ng-container>

      <!-- Coluna Tipo -->
      <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef>Tipo</th>
        <td mat-cell *matCellDef="let element">{{ element.tipo }}</td>
      </ng-container>

      <!-- Coluna Data de Aquisição -->
      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef>Data</th>
        <td mat-cell *matCellDef="let element">
          {{ element.dataAquisicao | date : "dd/MM/yyyy" }}
        </td>
      </ng-container>

      <!-- Coluna Ações -->
      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let element">
          <div
            *ngIf="editandoId !== element.id; else emEdicao"
            style="
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 8px;
            "
          >
            <!-- Botões de Excluir e Editar -->
            <button
              mat-flat-button
              color="warn"
              (click)="
                DeletarItem(
                  element.id,
                  element.numSerie,
                  element.tituloDomain,
                  element.tipo,
                  element.dataAquisicao
                )
              "
            >
              <mat-icon>delete</mat-icon>
            </button>
            <button
              mat-flat-button
              color="accent"
              (click)="editarItem(element)"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </div>

          <ng-template #emEdicao>
            <!-- Apenas o botão de Cancelar ao editar -->
            <div
              style="
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 8px;
              "
            >
              <button mat-flat-button color="warn" (click)="cancelarEdicao()">
                <mat-icon>close</mat-icon> Cancelar
              </button>
            </div>
          </ng-template>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
