<div class="form-container">
  <div class="form-content">
    <h1>Cadastro de Título</h1>
    <div class="forms">
      <div class="forms1">
        <div class="nome">
          <mat-form-field class="example-full-width" id="nome">
            <mat-label>Digite o Nome do Título</mat-label>
            <input matInput placeholder="Nome da classe" [(ngModel)]="nome" />
          </mat-form-field>
        </div>

        <div class="atores">
          <mat-form-field class="example-full-width" id="atores">
            <mat-label>Selecione os atores</mat-label>
            <mat-select [formControl]="actores" multiple>
              <mat-option *ngFor="let ator of atoresList" [value]="ator">{{
                ator.nome
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="diretor">
          <mat-form-field class="example-full-width" id="titulo">
            <mat-label>Selecione o Diretor</mat-label>
            <mat-select [(ngModel)]="diretor">
              <mat-option *ngFor="let diretor1 of diretores" [value]="diretor1">
                {{ diretor1.nome }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="sinopse">
          <mat-form-field class="example-full-width" id="sinopse">
            <mat-label>Escreva a Sinopse</mat-label>
            <textarea
              matInput
              placeholder="Escreva a sinopse aqui..."
              [(ngModel)]="sinopse"
            ></textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="forms2">
        <div class="categoria">
          <mat-form-field class="example-full-width" id="tipo">
            <mat-label>Selecione a Categoria</mat-label>
            <mat-select [(ngModel)]="categoria">
              <mat-option value="t">Terror</mat-option>
              <mat-option value="c">Comédia</mat-option>
              <mat-option value="f">Faroeste</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="classe">
          <mat-form-field class="example-full-width" id="atores">
            <mat-label>Selecione a Classe</mat-label>
            <mat-select [(ngModel)]="classeItem">
              <mat-option *ngFor="let classe of classes" [value]="classe">
                {{ classe.nome }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="ano">
          <mat-form-field class="example-full-width" id="ano">
            <mat-label>Digite o Ano de Lançamento </mat-label>
            <input matInput placeholder="Numero de serie" [(ngModel)]="ano" />
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="format">
      <button
        mat-raised-button
        color="primary"
        id="botaoenviar"
        (click)="validarCampos()"
      >
        Enviar
      </button>
    </div>

    <h1 class="envio">Lista de Títulos</h1>
    <table mat-table [dataSource]="titulos" class="mat-elevation-z8">
      <!-- Coluna ID -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let titulo">{{ titulo.id }}</td>
      </ng-container>

      <ng-container matColumnDef="atores">
        <th mat-header-cell *matHeaderCellDef> Atores </th>
        <td mat-cell *matCellDef="let titulo">
          {{ getAtoresNomes(titulo.atores) }}
        </td>
      </ng-container>


      <!-- Coluna Nome -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let titulo">{{ titulo.nome }}</td>
      </ng-container>

      <!-- Coluna Ano -->
      <ng-container matColumnDef="ano">
        <th mat-header-cell *matHeaderCellDef>Ano</th>
        <td mat-cell *matCellDef="let titulo">{{ titulo.ano }}</td>
      </ng-container>

      <!-- Coluna Diretor -->
      <ng-container matColumnDef="diretor">
        <th mat-header-cell *matHeaderCellDef>Diretor</th>
        <td mat-cell *matCellDef="let titulo">{{ titulo.diretor?.nome }}</td>
      </ng-container>

      <!-- Coluna Categoria -->
      <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef>Categoria</th>
        <td mat-cell *matCellDef="let titulo">{{ titulo.categoria }}</td>
      </ng-container>

      <!-- Coluna Classe -->
      <ng-container matColumnDef="classe">
        <th mat-header-cell *matHeaderCellDef>Classe</th>
        <td mat-cell *matCellDef="let titulo">{{ titulo.classe?.nome }}</td>
      </ng-container>

      <!-- Coluna Sinopse -->
      <ng-container matColumnDef="sinopse">
        <th mat-header-cell *matHeaderCellDef>Sinopse</th>
        <td mat-cell *matCellDef="let titulo">{{ titulo.sinopse }}</td>
      </ng-container>

      <!-- Coluna Ações -->
      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let titulo">
          <button mat-button color="warn">
            Remover
          </button>
          <button mat-button color="accent">
            Editar
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
