<div class="form-container">
    <div class="form-content">
      <h1>Cadastro de Classe</h1>

      <mat-form-field class="example-full-width">
        <mat-label>Digite o Nome da Classe</mat-label>
        <input matInput placeholder="Nome da classe">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Digite o Valor</mat-label>
        <input matInput placeholder="Valor">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <button mat-raised-button color="primary">Enviar</button>
    </div>
  </div>
