<div class="form-container">
  <div class="form-content">
    <h1>Cadastro de Classe</h1>
    <div class="forms">

      <div class="nome">
        <mat-form-field class="example-full-width" id="nome">
          <mat-label>Digite o Nome da Classe</mat-label>
          <input matInput placeholder="Nome da classe" [(ngModel)]="nomeClasse"/>
        </mat-form-field>
      </div>

      <div class="valor">
        <mat-form-field class="example-full-width" id="valor">
          <mat-label>Digite o Valor</mat-label>
          <input matInput placeholder="Valor" [(ngModel)]="valorClasse" />
        </mat-form-field>
      </div>

    </div>
    <mat-form-field class="example-full-width" id="devolucao">
      <mat-label>Data de Devolução</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="dataClasse" placeholder="dd/MM/yyyy" />
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>



    <div class="format envio">
      <button mat-raised-button color="primary" id="botaoenviar" (click)="salvarClasse()">Salvar Classe</button>
    </div>

    <h1 class="envio">Lista de Classes</h1>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Coluna de ID -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

     <!-- Coluna de Data -->
     <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef>Data</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="editandoId !== element.id; else editando">
          {{ element.data | date: 'dd/MM/yyyy' }} <!-- Exibe a data formatada -->
        </ng-container>
        <ng-template #editando>
          <mat-form-field appearance="fill"> <!-- Adiciona margem à esquerda -->
            <mat-label>Escolha uma data</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="element.data" [placeholder]="'dd/MM/yyyy'" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </ng-template>
      </td>
    </ng-container>



      <!-- Coluna de Valor -->
      <ng-container matColumnDef="valor">

        <th mat-header-cell *matHeaderCellDef>Valor</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="editandoId !== element.id; else editando">
            {{ element.valor}}
          </ng-container>
          <ng-template #editando>
            <input matInput [(ngModel)]="element.valor" />
          </ng-template>
        </td>
      </ng-container>

      <!-- Coluna de Nome -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="editandoId !== element.id; else editando">
            {{ element.nome }}
          </ng-container>
          <ng-template #editando>
            <input matInput [(ngModel)]="element.nome" />
          </ng-template>
        </td>
      </ng-container>

      <!-- Coluna de Ações -->
      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let element">
          <div style="display: flex; justify-content: center; align-items: center; gap: 8px;">

            <ng-container *ngIf="editandoId !== element.id">
            <button mat-flat-button color="warn" (click)="deletarClasse(element.id, element.nome, element.data, element.valor)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-flat-button color="accent" (click)="editarClasse(element)">
              <mat-icon>edit</mat-icon>
            </button>
            </ng-container>
            <!-- Mostrar botões de salvar e cancelar ao editar -->
            <ng-container *ngIf="editandoId === element.id">
              <button
                mat-flat-button
                color="primary"
                (click)="salvarEdicao(element.nome,element.valor,element.data)">
                <mat-icon>save</mat-icon>
              </button>
              <button mat-flat-button class="btn-cancel" (click)="cancelarEdicao()">
                <mat-icon>cancel</mat-icon>
              </button>
            </ng-container>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
