.form-container {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  padding-top: 50px; /* Espaço no topo para afastar o conteúdo do topo */
  text-align: center; /* Centraliza o texto dentro do formulário */
}

.form-content {
  width: 100%;
  max-width: 500px; /* Define uma largura máxima */
  padding: 20px;
}

.example-full-width {
  width: 100%; /* Garante que o input ocupe toda a largura */
}

button {
  width: 100%; /* Garante que o botão também ocupe toda a largura */
}
