<div class="form-container">
  <div class="form-content">
    <h1>Cadastro de Ator</h1>

    <mat-form-field class="example-full-width">
      <mat-label>Digite o Nome do Ator</mat-label>
      <!-- Use ngModel para vincular o input ao componente -->
      <input matInput id="nome" placeholder="Nome do ator" [(ngModel)]="nomeAtor" />
    </mat-form-field>

    <div class="format">
      <div>
        <!-- Passa o nome do ator para a função salvarAtor -->
        <button mat-raised-button color="primary" (click)="salvarAtor(nomeAtor)">Salvar Ator</button>
      </div>
    </div>

    <h1 class="envio">Lista de Atores</h1>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">{{ element.position }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- Ações Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let element">
          <div
            style="
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 8px;
            "
          >
            <button mat-flat-button color="warn">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-flat-button color="accent">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
