body {
  padding-top: 60px; /* Ajuste de acordo com a altura da toolbar, se for maior */
}

body {
  background-color:#303030; /* Define o fundo da página como preto */
  color: white; /* Define a cor padrão do texto como branco */
}


